affine==2.4.0
aiobotocore==2.20.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aioitertools==0.12.0
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
attrs==25.1.0
boto3==1.37.1
botocore==1.37.1
cachetools==5.5.2
certifi==2025.1.31
cftime==1.6.4.post1
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
cogeo-mosaic==8.1.0
color-operations==0.1.6
cramjam==2.9.1
crc32c==2.7.1
decorator==5.2.1
Deprecated==1.2.18
donfig==0.8.1.post1
fastapi==0.115.8
frozenlist==1.5.0
fsspec==2025.2.0
gcsfs==2025.2.0
geojson-pydantic==1.2.0
google-api-core==2.24.1
google-auth==2.38.0
google-auth-oauthlib==1.2.1
google-cloud-core==2.4.2
google-cloud-storage==3.0.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.68.0
h11==0.14.0
h5netcdf==1.5.0
h5py==3.13.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
Jinja2==3.1.5
jmespath==1.0.1
MarkupSafe==3.0.2
morecantile==6.2.0
multidict==6.1.0
numcodecs==0.15.1
numexpr==2.10.2
numpy==2.2.3
oauthlib==3.2.2
packaging==24.2
pandas==2.2.3
propcache==0.3.0
proto-plus==1.26.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.6
pydantic-settings==2.8.0
pydantic_core==2.27.2
pyparsing==3.2.1
pyproj==3.7.1
pystac==1.12.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
PyYAML==6.0.2
rasterio==1.4.3
requests==2.32.3
requests-oauthlib==2.0.0
rio-cogeo==5.4.1
rio-stac==0.8.1
rio-tiler==7.4.0
rioxarray==0.18.2
rsa==4.9
s3fs==0.4.2
s3transfer==0.11.2
shapely==2.0.7
simplejson==3.20.1
six==1.17.0
sniffio==1.3.1
starlette==0.45.3
starlette-cramjam==0.4.0
supermorecado==0.1.2
-e git+ssh://git@github.com/developmentseed/titiler.git@28d33a620e3f409f3ebf7d1335d91dd6d94719da#egg=titiler_application&subdirectory=src/titiler/application
-e git+ssh://git@github.com/developmentseed/titiler.git@28d33a620e3f409f3ebf7d1335d91dd6d94719da#egg=titiler_core&subdirectory=src/titiler/core
-e git+ssh://git@github.com/developmentseed/titiler.git@28d33a620e3f409f3ebf7d1335d91dd6d94719da#egg=titiler_extensions&subdirectory=src/titiler/extensions
-e git+ssh://git@github.com/developmentseed/titiler.git@28d33a620e3f409f3ebf7d1335d91dd6d94719da#egg=titiler_mosaic&subdirectory=src/titiler/mosaic
-e git+ssh://git@github.com/developmentseed/titiler.git@28d33a620e3f409f3ebf7d1335d91dd6d94719da#egg=titiler_xarray&subdirectory=src/titiler/xarray
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
uvicorn==0.34.0
wrapt==1.17.2
xarray==2025.1.2
yarl==1.18.3
zarr==3.0.4
